.gamefield-keyboard {
    display: flex;
    flex-direction: row;
    max-width: 65%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

btn {
    text-decoration: none;
}

.gamefield-keyboard-el {
    background: #d9d9d9;
    border-radius: 7px;
    height: 45px;
    width: 45px;
    border-color: transparent;
    cursor: pointer;
}

.gamefield-keyboard-el:hover {
    background: #cecdcd;

}

.green {
    background-color: #59a248;
    color: white;
}

.yellow {
    background-color:#E2DE7F;
    color: black;
}

.darkgrey {
    background-color: #B3B3B3;
    color: white;
}

@media(max-width: 650px) {
    .gamefield-keyboard {
        max-width: 80%;
        gap: 3px;
    }

    .gamefield-keyboard-el {
        border-radius: 2px;
        height: 30px;
        width: 30px;
        font-size: 10px;
        color: black;
    }

}