.gamefield {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.gamefield-tries {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gamefield-tries-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.gamefield-tries-row-el {
    background: #d9d9d9;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    border-color: transparent;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}


.gamefield-keyboard-btn-submit {
    background: #86C14C;
    border-radius: 7px;
    height: 45px;
    width: 60px;
    border-color: transparent;
}
.gamefield-keyboard-btn-submit:hover {
    background: #59a248;
    cursor: pointer;
}

.gamefield-keyboard-btn-backspace {
    background: #4ca2c1;
    border-radius: 7px;
    height: 45px;
    width: 60px;
    border-color: transparent;
}
.gamefield-keyboard-btn-backspace:hover {
    background: #4595b2;
    cursor: pointer;
}

.gamefield-keyboard-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}
.gamefield-timer {
    font-size: 18px;
    margin-bottom: 20px;

    display: flex;
    margin-left: 70%;
}


.gamefield-tries-row-el.green {
    background: #59a248;
    color: white;
}

.gamefield-tries-row-el.yellow {
    background-color: #E2DE7F;
    color: white;
}

.gamefield-tries-row-el.darkgrey {
    background-color: #B3B3B3;
    color: white;
}

.gamefield-status {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}


@media(max-width: 650px) {
    .gamefield {
        gap: 20px;
    }

    .gamefield-tries {
        gap: 5px;
    }

    .gamefield-tries-row-el {
        border-radius: 2px;
        height: 45px;
        width: 45px;
        font-size: 18px;
    }

    .gamefield-keyboard-btn-submit, .gamefield-keyboard-btn-backspace {
        border-radius: 2px;
        height: 23px;
        width: 35px;
    }

    .gamefield-keyboard-btns {
        gap: 5px;
    }
    .gamefield-timer {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .gamefield {
        padding: 50px 10px;
    }

    .gamefield-keyboard {
        width: 90%;
    }


}