

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px 80px;
    font-size: 17px;
}
.logo-navbar {
    flex-wrap: nowrap;
    display: flex;
}
.nav-list {
    display: flex;
    align-items: center;
    column-gap: 70px;
    flex-wrap: nowrap;

}

.nav-row {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;


}

.nav-list__item {
    white-space: nowrap;
    font-weight: 500;
}

.nav-list__item:hover {
    text-decoration: underline;
    cursor: pointer;
}