.howtoplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.howtoplay-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.howtoplay-form-example {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.howtoplay-form-example *{
    align-items: center;

    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    font-size: 36px;
    font-weight: 700;
    height: 80px;
    justify-content: center;
    width: 80px;
}

.howtoplay-form-explanation {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    background-color: #EDF0F5;
    border-radius: 10px;
}

.howtoplay-form-explanation-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.howtoplay-form-example-gray{
    background: #b3b3b3;
}
.howtoplay-form-example-green{
    background: #86c14c;
}
.howtoplay-form-example-yellow{
    background: #e8e482;
}

.howtoplay-header {
    font-size: 36px;
}

.howtoplay-form-explanation-row-square {
    border-radius: 3px;
    height: 30px;
    width: 30px;
    background-color: #B3B3B3FF;
}

.video {
    margin: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 650px;

    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 20%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}



@media (max-width: 800px) {
    .video-container {
        padding-top: 75%;
    }
}

@media(max-width: 650px) {

    .howtoplay-form-example *{
        font-size: 20px;
        height: 45px;
        width: 45px;
    }

    .howtoplay-form-explanation {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        background-color: #EDF0F5;
        border-radius: 5px;
    }

    .howtoplay-form-explanation-row {

        flex-direction: column;

    }


    .howtoplay-header {
        font-size: 24px;
    }

    .howtoplay-form-explanation-row-square {
        border-radius: 2px;
       height: 25px;
        width: 25px ;
        background-color: #B3B3B3FF;

    }

    .howtoplay-form-text {
        font-size: 18px;
        width: 80%;
    }

    .howtoplay {
        margin: 20px 20px;
    }
}