.input-letters-container {
    display: flex;
}

.input-letter {
    background: #b3b3b3;
    border-color: transparent;
    margin-right: 10px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    font-size: 36px;
    font-weight: 700;
    height: 80px;
    justify-content: center;
    width: 80px;
}

.dictate-word {

    text-align: center;

}

.dictate-word-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.dictate-word-header {
    font-size: 36px;
}

.dictate-word-form-btn {
    background: #519341;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    width: 20%;
    padding: 12px 32px;
    border-color: transparent;
    color: #FFFFFF;
    margin-top: 2%;
}

@media(max-width: 650px) {
    .input-letter {
        border-radius: 5px;
        font-size: 20px;
        height: 45px;
        width: 45px;
    }

    .dictate-word-header {
        font-size: 24px;
    }

    .dictate-word-form-btn {
        border-radius: 5px;
        font-size: 16px;
        min-width: 50%;
        padding: 12px 3px;
        margin-top: 7%;
    }

    .dictate-word {
        padding: 100px 20px;
    }

}