.login-page {
    margin: 0px 100px;
}

.passwordrecovery-form--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 270px;
    width: 510px;
    background-color: #f1f1f1;
    border-radius: 20px;
    gap: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.login-form {
    margin-top: 5%;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-header {
    font-size: 36px;
}

.login-form-btn {
    background: #519341;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    width: 60%;
    padding: 12px 32px;
    border-color: transparent;
    color: #FFFFFF;
    margin-top: 2%;
}

.login-form-btn-toregistration {
    color: #2a2a2a;
    font-size: 20px;
    font-weight: 700;
    border-color: transparent;
    background: none;
}

.login-form-btn-toregistration:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-form-btn:hover {
    background: #478139;
    cursor: pointer;
}

.login-form-p {
    color: #868686;
    font-size: 20px;
    font-weight: 700;
}

.login-form-input {
    background: #ffffff;
    border-radius: 8px;
    font-size: 16px;
    width: 70%;
    padding: 5px;
    border-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.login-form-input:focus {
    background: #ececec;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: -10px;
}

@media (max-width: 1000px) {
    .login-page {
        margin: 0px 50px;
    }

    .passwordrecovery-form--form {
        height: 100vh;
        width: 100vw;
        background-color: white;
        gap: 10px;
    }

    .login-header {
        font-size: 24px;
    }

    .login-form-p {
        font-size: 16px;
        font-weight: 700;
    }

    .login-form-input {
        background: #f1f1f1;
        border-radius: 6px;
        font-size: 16px;
        width: 40%;
        padding: 5px;
        border-color: transparent;
        margin-bottom: 10px;
    }

    .recovery-form-btn {
        background-color: #519341;
        border-color: transparent;
        color: white;
        font-weight: 700;
        font-size: 16px;

        padding: 5px 12px;
        margin-top: 2%;
        border-radius: 10px;
    }

    .login-form-btn-toregistration {
        color: #2a2a2a;
        font-size: 16px;
        font-weight: 700;
        border-color: transparent;
        background: none;
    }
}

@media (max-width: 650px) {
    .login-page {
        margin: 20px 0px;
    }

    .passwordrecovery-form--form {
        height: 100vh;
        width: 100vw;
        background-color: white;
        gap: 10px;
        box-shadow: none;
    }

    .login-header {
        font-size: 24px;
    }

    .login-form-p {
        font-size: 16px;
        font-weight: 700;
    }

    .login-form-input {
        background: #f1f1f1;
        border-radius: 6px;
        font-size: 16px;
        width: 50%;
        padding: 5px;
        border-color: transparent;
        margin-bottom: 10px;
    }

    .recovery-form-btn {
        border-radius: 5px;
        font-size: 14px;
        max-width: 60%;
        padding: 8px 8px;
        margin-top: 2%;
    }

    .login-form-btn-toregistration {
        color: #2a2a2a;
        font-size: 16px;
        font-weight: 700;
        border-color: transparent;
        background: none;
    }
}
