.registration-page {
    margin: 50px 100px;
}

.registration-form--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    width: 510px;
    background-color: #f1f1f1;
    border-radius: 20px;
    gap: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-header {
    font-size: 36px;
}

.registration-form-btn {
    background: #519341;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    width: 60%;
    padding: 12px 32px;
    border-color: transparent;
    color: #FFFFFF;
    margin-top: 2%;
}

.registration-form-btn-tologin {
    color: #2a2a2a;
    font-size: 20px;
    font-weight: 700;
    border-color: transparent;
    background: none;
}

.registration-form-btn-tologin:hover {
    text-decoration: underline;
    cursor: pointer;
}

.registration-form-btn:hover {
    background: #478139;
    cursor: pointer;
}

.registration-form-p {
    color: #868686;
    font-size: 20px;
    font-weight: 700;
}


.registration-form-input {
    background: #ffffff;
    border-radius: 8px;
    font-size: 16px;
    width: 70%;
    padding: 5px;
    border-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);

}

.registration-form-input:focus {
    background: #ececec;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.success-message {
    color: #49803b;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: -40px;
    margin-bottom: -10px;
    width: 70%;
    text-align: center;
    font-weight: 700;
}


@media (max-width: 1000px) {
    .registration-page {
        margin: 0px 50px;
    }

    .registration-form--form {
        height: 100vh;
        width: 100vw;
        background-color: white;
        gap: 10px;
    }

    .registration-header {
        font-size: 24px;
    }

    .registration-form-p {
        font-size: 16px;
        font-weight: 700;
    }

    .registration-form-input {
        background: #f1f1f1;
        border-radius: 6px;
        font-size: 16px;
        width: 40%;
        padding: 5px;
        border-color: transparent;
        margin-bottom: 10px;
    }

    .registration-form-btn {

        font-size: 16px;
        width: 30%;
        padding: 5px 12px;
        margin-top: 2%;
        border-radius: 10px;
    }

    .registration-form-btn-toregistration {
        color: #2a2a2a;
        font-size: 16px;
        font-weight: 700;
        border-color: transparent;
        background: none;
    }
}

@media (max-width: 650px) {
    .registration-page {
        margin: 20px 0px;
    }

    .registration-form--form {
        height: 100vh;
        width: 100vw;
        background-color: white;
        gap: 10px;
        box-shadow: none;
    }

    .registration-header {
        font-size: 24px;
    }

    .registration-form-p {
        font-size: 16px;
        font-weight: 700;
    }

    .registration-form-input {
        background: #f1f1f1;
        border-radius: 6px;
        font-size: 16px;
        width: 50%;
        padding: 5px;
        border-color: transparent;
        margin-bottom: 10px;
    }

    .registration-form-btn {
        border-radius: 5px;
        font-size: calc(0.6vw + 8px);
        min-width: 40%;
        max-width: 50%;
        padding: 10px 15px;
        margin-top: 2%;
        flex-wrap: wrap;
    }

    .registration-form-btn-tologin {
        color: #2a2a2a;
        font-size: 16px;
        font-weight: 700;
        border-color: transparent;
        background: none;
    }
}
