.cabinet {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;

    background-color: #fff;
}

.cabinet-header {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.cabinet-form {
    padding: 20px;
    border-radius: 8px;
    align-items: center; /* Вирівнює елементи по горизонталі в центрі */
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 24px;
}

.user-info-row {
    display: flex;
    flex-direction: column;
}

.user-info span {
    font-size: 20px;
}

.edit-button {
    padding: 8px 12px;
    font-size: 20px;
    background-color: #86C14C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #45a049;
}

.games-header {
    font-size: 32px;
    margin-top: 30px;
    margin-left: 150px;
    text-align: center;
}

.games-table {
    width: 100%;
    border-collapse: collapse;
}

.games-table th, .games-table td {
    padding: 15px;
    text-align: left;
}

.games-table th {
    background-color: #86C14C;
    color: black;
    border: none;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.games-table td {
    border: none;
    border-bottom: 1px solid #ddd;
}

.games-table tbody tr:last-child td {
    border-bottom: none;
}

.user-stats {
    float: right;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
}

.user-stats p {
    margin-bottom: 5px;
}

.user-stats p span {
    margin-left: 10px;
}

.user-stats-wins {
    color: #519341;
}

.user-stats-losses {
    color: #DF0000;
}
