.cabinet {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.cabinet-header {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.cabinet-form {
    padding: 20px;
    border-radius: 8px;
    align-items: center;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    gap: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 24px;
}

.user-info-row {
    display: flex;
    flex-direction: column;
}

.user-info span {
    font-size: 20px;
}

.edit-button {
    padding: 8px 12px;
    font-size: 20px;
    background-color: #86C14C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #45a049;
}

/* Center header and align stats */
.games-headers {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.games-header {
    font-size: 32px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.user-stats {
    position: absolute;
    right: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

.user-stats p {
    margin-bottom: 5px;
}

.user-stats p span {
    margin-left: 10px;
}

.user-stats-wins {
    color: #519341;
}

.user-stats-losses {
    color: #DF0000;
}

.games-table {
    width: 100%;
    border-collapse: collapse;

}

.games-table th, .games-table td {
    padding: 15px;
    text-align: left;
}

.games-table th {
    background-color: #86C14C;
    color: black;
    border: none;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.games-table td {
    border: none;
    border-bottom: 1px solid #ddd;
}

.games-table tbody tr:last-child td {
    border-bottom: none;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-cabinet {
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    position: relative;
}

.modal-content input {
    background: #ffffff;
    border-radius: 8px;
    font-size: 16px;
    width: 70%;
    padding: 5px;
    border-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.save-button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #519341;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #888;
    font-weight: bold;
}

.close-button:hover {
    color: #000;
    opacity: 0.8;
}

.modal-content-cabinet input {
    background: #ffffff;
    border-radius: 8px;
    font-size: 16px;
    width: 70%;
    padding: 5px;
    border-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}


@media (max-width: 900px) {
    .cabinet {
        margin: 20px 0px;
    }
    .cabinet-header {
        font-size: 24px;
        text-align: center;
    }
    .games-headers {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
        position: relative;
        padding-bottom: 0px;
    }
    .games-header {
        font-size: 24px;
        position: relative;
        left: auto;
        transform: none;
        text-align: center;
    }
    .user-stats {
        position: relative;
        text-align: center;
        font-weight: bolder;
        font-size: 14px;
        margin-bottom: 10px;
        right: auto;
    }
    .cabinet-form {
        padding: 10px;
        border-radius: 4px;
        width: 100%;
    }
    .user-info {
        flex-direction: column;
        gap: 10px;
        border-radius: 4px;
        font-size: 14px;
        padding: 20px;
        margin-bottom: 0px;
        width: 80%;
    }
    .user-info span {
        font-size: 14px;
    }
    .edit-button {
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 2px;
    }
    .games-table {

        border-collapse: collapse;

    }
    .games-table th, .games-table td {
        padding: 15px;
        text-align: left;
        font-size: 8px;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content-cabinet {

        padding: 25px;
        width: 200px;
        gap: 10px;

    }

    .modal-content-cabinet h2 {

        font-size: 20px;

    }

    .modal-content-cabinet input {
        border-radius: 4px;
        font-size: 12px;
        width: 70%;

    }


}
